<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="El objetivo principal de un dashboard es ofrecer visibilidad sobre los indicadores que deben alcanzar determinado valor para alcanzar los objetivos de la empresa. Además permite conocer datos de valor, analizar tendencias y fijar líneas de actuación.">
    <meta name="author" content="Juan José Henao Gutiérrez">
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/Flaticon-Página-web-32X32.jpg" type="image/x-icon">

    <title>GLPI - Admin</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                </div>
                <div class="sidebar-brand-text mx-3">GLPI - Dispositivos</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="../index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de control</span></a>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Inicio
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Administración
            </div>

            <!-- Nav Item - Inventario Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-warehouse"></i>
                    <span>Inventario</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Utilidades:</h6>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/computadoras.html">Computadoras</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Monitores.html">Monitores</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Software.html">Software</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/EquipoDeRed.html">Equipo de red</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Dispositivos.html">Dispositivos</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Impresoras.html">Impresoras</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Cartuchos.html">Cartuchos</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Consumibles.html">Consumibles</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Telefonos.html">Teléfonos</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Global.html">Global</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Soporte Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-question"></i>
                    <span>Soporte</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones:</h6>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Incidencias.html">Incidencias</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Problemas.html">Problemas</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Cambios.html">Cambios</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Planificacion.html">Planificación</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/Estadisticas.html">Estadísticas</a>
                        <a class="collapse-item" href="../Redesign-GLPI/Layouts/InceRecurrentes.html">Incidencias recurrentes</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-users-cog"></i>
                    <span>Administración</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones:</h6>
                        <a class="collapse-item" href="#">Usuarios</a>
                        <a class="collapse-item" href="#">Grupos</a>
                        <a class="collapse-item" href="#">Entidades</a>
                        <a class="collapse-item" href="#">Reglas</a>
                        <a class="collapse-item" href="#">Diccionarios</a>
                        <a class="collapse-item" href="#">Perfiles</a>
                        <a class="collapse-item" href="#">Mail queue</a>
                        <a class="collapse-item" href="#">Mantenimiento</a>
                        <a class="collapse-item" href="#">Logs</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Panel administrativo
            </div>

            <!-- Nav Item - Útiles Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseFour">
                    <i class="fas fa-user-cog"></i>
                    <span>Útiles</span>
                </a>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones:</h6>
                        <a class="collapse-item" href="#">Projects</a>
                        <a class="collapse-item" href="#">Recordatorios</a>
                        <a class="collapse-item" href="#">RSS feeds</a>
                        <a class="collapse-item" href="#">Base de conocimiento</a>
                        <a class="collapse-item" href="#">Reservas</a>
                        <a class="collapse-item" href="#">Reportes</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Configuración Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    <i class="fas fa-user-cog"></i>
                    <span>Configuración</span>
                </a>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Ajustes:</h6>
                        <a class="collapse-item" href="#">Menús desplegables</a>
                        <a class="collapse-item" href="#">Componentes</a>
                        <a class="collapse-item" href="#">Notificaciones</a>
                        <a class="collapse-item" href="#">ANS (Nivel de servicio)</a>
                        <a class="collapse-item" href="#">General</a>
                        <a class="collapse-item" href="#">Selecciones</a>
                        <a class="collapse-item" href="#">Acciones automáticas</a>
                        <a class="collapse-item" href="#">Autenticación</a>
                        <a class="collapse-item" href="#">Receptores</a>
                        <a class="collapse-item" href="#">Enlaces Externos</a>
                        <a class="collapse-item" href="#">Plugins</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="¿Deseas buscar algo?" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="¿Deseas buscar algo?" aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">99+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Noviembre 12, 2021</div>
                                        <span class="font-weight-bold">Hay un nuevo requerimiento pendiente.</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Noviembre 2, 2021</div>
                                        Registro de ventas de puntos de fábrica.
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Noviembre 23, 2021</div>
                                        Alerta de gasto: hemos notado un gasto inusualmente alto en punto de fabrica.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Ver todas</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">99+</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Buzón de mensajes
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../img/undraw_profile_1.svg">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hola, Juan, ¿Como has estado?</div>
                                        <div class="small text-gray-500">Willington Gutiérrez · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../img/undraw_profile_2.svg">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Tengo las fotos que ordenaste el mes pasado, ¿cómo
                                            ¿te gustaría que te los enviaran?</div>
                                        <div class="small text-gray-500">Carolina · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../img/undraw_profile_3.svg">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">El informe del mes pasado se ve muy bien, estoy muy
                                            contento con el progreso hasta ahora, ¡sigan con el buen trabajo!</div>
                                        <div class="small text-gray-500">Francisco · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../img/undraw_profile_2.svg">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">¿Soy un buen chico? La razón por la que pregunto es
                                            porque alguien me dijo que la gente le dice esto a todos los perros, incluso
                                            si no son buenos ...</div>
                                        <div class="small text-gray-500">Juan David · 2h</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Leer más mensajes</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Juan José Henao</span>
                                <img class="img-profile rounded-circle" src="../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ajustes
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Historial de actividades
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-900">Dispositivos</h1>

                    <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Agregar</button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-search"></i> Buscar</button>
                    <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Administrar plantillas</button> |
                    <button type="button" class="btn btn-warning"><i class="fas fa-star"></i> Nuevo marcador</button>
                    <button type="button" class="btn btn-warning"><i class="fas fa-address-card"></i> Planilla</button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-tree"></i> Estructura de árbol</button>
                    <br><hr>
                    <button type="button" class="btn btn-success py-2 mb-4"><i class="fas fa-plus"></i> Criterio</button>
                    <button type="button" class="btn btn-success py-2 mb-4"><i class="fas fa-plus-square"></i> Criterio de busqueda</button>
                    <button type="button" class="btn btn-secondary py-2 mb-4"><i class="fas fa-trash"></i> Papelera</button>
                    
                        <div class="input-group mb-4">
                            <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <optgroup label="Características">
                                    <option value="1">Nombre</option>
                                    <option value="2">ID</option>
                                    <option value="3">Ubicación</option>
                                    <option value="91">Código de oficina</option>
                                    <option value="92">Número de Sala</option>
                                    <option value="93">Comentarios de ubicación</option>
                                    <option value="4">Tipo</option>
                                    <option value="40">Modelo</option>
                                    <option value="31">Estado</option>
                                    <option value="45">Sistema Operativo</option>
                                    <option value="46">Versión S.O.</option>
                                    <option value="41">Service Pack</option>
                                    <option value="42">Origen de actualización</option>
                                    <option value="43">Número de serie del S.O.</option>
                                    <option value="44">Id. de producto del S.O.</option>
                                    <option value="47">UUID</option>
                                    <option value="5">Número de serie</option>
                                    <option value="6">Número de inventario</option>
                                    <option value="16">Comentarios</option>
                                    <option value="7">Contacto</option>
                                    <option value="8">Número de contacto</option>
                                    <option value="70">Usuario</option>
                                    <option value="71">Grupo</option>
                                    <option value="19">Última actualización</option>
                                    <option value="32">Red</option>
                                    <option value="33">Dominio</option>
                                    <option value="23">Fabricante</option>
                                    <option value="24">Técnico a cargo del hardware</option>
                                    <option value="49">Grupo a cargo del hardware</option>
                                    <option value="80">Entidad</option>
                                </optgroup>
                                <optgroup label="Notes">
                                    <option value="200">Notes</option>
                                    <option value="201">Fecha de Creación</option>
                                    <option value="202">Autor</option>
                                    <option value="203">Última actualización</option>
                                    <option value="204">Ultima actualización</option>
                                </optgroup>
                                <optgroup label="Componentes">
                                    <option value="17">Procesador</option>
                                    <option value="36">Frecuencia del procesador</option>
                                    <option value="10">Tipo de memoria</option>
                                    <option value="35">Memoria RAM (MB)</option>
                                    <option value="11">Interfaz de red</option>
                                    <option value="20">Dirección MAC</option>
                                    <option value="12">Tarjeta de sonido</option>
                                    <option value="13">Tarjeta gráfica</option>
                                    <option value="14">Tarjeta madre</option>
                                    <option value="15">Tipo de Disco Duro</option>
                                    <option value="34">Tamaño de Disco Duro</option>
                                    <option value="39">Power supply</option>
                                </optgroup>
                                <optgroup label="Unidades">
                                    <option value="156">Unidad</option>
                                    <option value="150">Tamaño global (MB)</option>
                                    <option value="151">Espacio libre</option>
                                    <option value="152">Porcentaje libre</option>
                                    <option value="153">Partición</option>
                                    <option value="154">Partición</option>
                                    <option value="155">Sistema de archivos</option>
                                </optgroup>
                                <optgroup label="Máquinas virtuales">
                                    <option value="160">Máquina virtual</option>
                                    <option value="161">Estado de la maquina virtual</option>
                                    <option value="162">Modelo de virtualización</option>
                                    <option value="163">Sistema de virtualización</option>
                                    <option value="164">Numero de procesadores de la maquina virtual</option>
                                    <option value="165">Memoria de las máquinas virtuales</option>
                                    <option value="166">UUID de la máquina virtual</option>
                                </optgroup>
                                <optgroup label="Soporte">
                                    <option value="60">Número de Incidencias</option>
                                    <option value="140">Número de problemas</option>
                                </optgroup>
                                <optgroup label="Redes">
                                    <option value="21">Dirección MAC</option>
                                    <option value="87">Tipos de puertos de red</option>
                                    <option value="126">IP</option>
                                    <option value="127">Nombres de Red</option>
                                    <option value="128">Alias de redes</option>
                                    <option value="22">Punto de red</option>
                                    <option value="157">Red wifi</option>
                                    <option value="158">ESSID</option>
                                    <option value="88">VLAN</option>
                                </optgroup>
                                <optgroup label="Contratos">
                                    <option value="139">Número de contratos</option>
                                    <option value="29">Contrato</option>
                                    <option value="30">Número de Contrato</option>
                                    <option value="129">Contrato - Tipo</option>
                                    <option value="130">Contrato - Duración</option>
                                    <option value="131">Contrato - Periodicidad</option>
                                    <option value="132">Contrato - Fecha de Inicio</option>
                                    <option value="133">Contrato - Número contable</option>
                                    <option value="134">Contrato - Fecha Final</option>
                                    <option value="135">Contrato - Preaviso</option>
                                    <option value="136">Contrato - Costo</option>
                                    <option value="137">Contrato - Periodo de facturación</option>
                                    <option value="138">Contrato - Renovación</option>
                                </optgroup>
                                <optgroup label="Documentos">
                                    <option value="119">Número de documentos</option>
                                </optgroup>
                                <optgroup label="Datos financieros">
                                    <option value="25">Número de activo</option>
                                    <option value="26">Número de pedido</option>
                                    <option value="27">Forma de envío</option>
                                    <option value="28">Número de Factura</option>
                                    <option value="37">Fecha de compra</option>
                                    <option value="38">Fecha de puesta en servicio</option>
                                    <option value="121">Fecha de entrega</option>
                                    <option value="124">Fecha del pedido</option>
                                    <option value="123">Fecha de inicio de la garantía</option>
                                    <option value="125">Fecha del último inventario físico</option>
                                    <option value="50">Presupuesto</option>
                                    <option value="51">Duración de garantía</option>
                                    <option value="52">Información de la garantía</option>
                                    <option value="120">Fecha de terminación de la garantía</option>
                                    <option value="53">Proveedor</option>
                                    <option value="54">Precio de compra</option>
                                    <option value="55">Precio extensión garantía</option>
                                    <option value="56">Duración de amortización</option>
                                    <option value="57">Tipo de Amortización</option>
                                    <option value="58">Coeficiente de amortización</option>
                                    <option value="59">Alarmas por correo</option>
                                    <option value="122">Comentarios sobre información financiera y administrativa</option>
                                </optgroup>
                                <!-- <option value="all">Todo</option> -->
                            </select>
                        </div> 

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Opciones</option>
                                    <option value="1">Opcion 1</option>
                                    <option value="2">Opcion 1</option>
                                    <option value="3">Opcion 1</option>
                                    <option value="3">Opcion 1</option>
                                    <option value="3">Opcion 1</option>
                                </select>
                        </div> 

                    <button type="button" class="btn btn-secondary py-2 mb-2"><i class="fas fa-search"></i> Buscar</button>
                    <button type="button" class="btn btn-success py-2 mb-2"><i class="fas fa-star"></i> Guardar como marcador</button>
                    <button type="button" class="btn btn-danger py-2 mb-2"><i class="fas fa-times"></i> Borrar</button>
                    <br><br>
                    <h3 class="h3 mb-4 text-gray-900">No se encontraron elementos</h3>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright | Todos los derechos reservados &copy; GLPI systems 2021, Programada por <a href="https://www.linkedin.com/in/juanjosehenaofrontend/" target="_blank">Juan José Henao G</a></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Cerrar sesión Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo(a) para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión
                    actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="login.html">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Vental modal JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>



</body>

</html>